{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<section class="container col-12 col-md-10 mb-5" id="adminArticles">
    <div class="limiter">
        <div class="container-table100">
            <div class="container col-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <a class="font-weight-bold retour-listArticles" href="{{ constant('local') }}adminManagement">< Retour au panneau d'administration</a>
                    </div>
                </div>
            </div>
            <div class="container col-12 pb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="btn font-weight-bold btn-newArt mb-3" href="{{ constant('local') }}articles/createArticle">Ajouter un article</a>
                    </div>
                </div>
            </div>
            <div class="container col-12 tabLargeScreen pb-3">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Titre</th>
                            <th class="column3">Auteur</th>
                            <th class="column4">Création</th>
                            <th class="column5">Mise à jour</th>
                            <th class="column6">Visible</th>
                            <th class="column7">Visualiser</th>
                            <th class="column8 columnEnd">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td class="column1">{{ article.title_art }}...</td>
                                <td class="column3">{{ article.autor_art }}</td>
                                <td class="column4">{{ article.date_art | date('d-m-Y') }}</td>
                                <td class="column5">{% if article.date_art != article.dateUpdate_art %} {{ article.dateUpdate_art | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                {% if article.isActive_art == 1 %}
                                    <td class="column6"><a class="linkManagement" href="{{ constant('local') }}adminManagement/desactiveArticle/{{ article.id_art }}">Oui</a></td>
                                {% else %}
                                    <td><a class="linkManagement" href="{{ constant('local') }}adminManagement/activeArticle/{{ article.id_art }}">Non</a></td>
                                {% endif %}
                                <td class="column7"><a class="linkManagement" href="{{ constant('local') }}articles/readArticle/{{ article.id_art }}/1">Afficher</a></td>
                                <td class="column8 columnEnd"><a class="linkManagement" href="{{ constant('local') }}articles/modifyArticle/{{ article.id_art }}">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for article in articles %}
                <div class="container tabMobile col-12 col-md-10 mb-3">
                    <div class="row justify-content-center">
                        <div class="container col-12 col-md-8 offset-md-2">
                            <table class="panel">
                                <tr class="trCompte">
                                    <td>Titre :</td>
                                    <td>{{ article.title_art }}...</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Auteur:</td>
                                    <td>{{ article.autor_art }}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Création</td>
                                    <td>{{ article.date_art | date('d-m-Y') }}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Mise à jour</td>
                                    <td>{% if article.date_art != article.dateUpdate_art %} {{ article.dateUpdate_art | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Visible</td>
                                     {% if article.isActive_art == 1 %}
                                            <td><a class="linkManagement" href="{{ constant('local') }}adminManagement/desactiveArticle/{{ article.id_art }}">Oui</a></td>
                                     {% else %}
                                            <td><a class="linkManagement" href="{{ constant('local') }}adminManagement/activeArticle/{{ article.id_art }}">Non</a></td>
                                    {% endif %}
                                </tr>
                                <tr class="trCompte">
                                    <td>Visualiser</td>
                                    <td><a class="linkManagement" href="{{ constant('local') }}articles/readArticle/{{ article.id_art }}/1">Afficher</a></td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Modifier</td>
                                    <td><a class="linkManagement" href="{{ constant('local') }}articles/modifyArticle/{{ article.id_art }}">Modifier</a></td>
                                </tr>
                            </table>             
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container col-12 my-2">
                <div class="row">   
                    <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                        <ul class="pagination">
                            <div class="col-md-3 offset-md-2">  
                                <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage - 1 }}" class="page-link"><<</a>
                                </li>
                            </div>
                            <div class="col-md-2"> 
                                {% for page in 1..pages %}
                                    <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}">
                                        <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage }}" class="font-weight-bold link-page">{{ page }}</a>
                                    </li>
                                {% endfor %}
                            </div>
                            <div class="col-md-3"> 
                                <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage + 1 }}" class="page-link">>></a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}