{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<div class="container mt-3 px-3">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <img class="card-img-top logoAdmin" src="{{ constant('local') }}public/img/article.png" alt="logo pour la gestion des articles">
                <div class="card-body linkManagement">
                    <h4 class="card-title text-center font-weight-bold">Articles</h4>
                    <a href="{{ constant('local') }}adminManagement/adminListAllArticles/1" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <img class="card-img-top logoAdmin" src="{{ constant('local') }}public/img/comment.png" alt="logo pour la gestion des commentaires">
                <div class="card-body linkManagement">
                    <h4 class="card-title text-center font-weight-bold">Commentaires</h4>
                    <a href="{{ constant('local') }}adminManagement/adminListAllComments/1" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <img class="card-img-top logoAdmin" src="{{ constant('local') }}public/img/user.png" alt="logo pour la gestion des membres">
                <div class="card-body linkManagement">
                    <h4 class="card-title text-center font-weight-bold">Membres</h4>
                    <a href="{{ constant('local') }}adminManagement/adminListAllMembers/1" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}