{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<section class="container col-12 col-md-10 mb-5" id="adminMembers">
    <div class="limiter">
        <div class="container-table100">
            <div class="container col-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <a class="font-weight-bold retour-listMembers" href="{{ constant('local') }}adminManagement">< Retour au panneau d'administration</a>
                    </div>
                </div>
            </div>
            <div class="container col-12 tabLargeScreen pb-3">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1 text-center">Login</th>
                            <th class="column2 text-center">Prénom</th>
                            <th class="column3 text-center">Nom</th>
                            <th class="column4 text-center">Email</th>
                            <th class="column5 text-center">Inscription</th>
                            <th class="column6 text-center">Mise à jour</th>
                            <th class="column7 text-center">Rôle</th>
                            <th class="column8 text-center">Statut</th>
                            <th class="column9 columnEnd text-center">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="column1 text-center">{{ user.login_user }}</td>
                            <td class="column2 text-center">{{ user.firstname_user }}</td>
                            <td class="column3 text-center">{{ user.lastname_user }}</td>
                            <td class="column4 text-center">{{ user.email_user }}</td>
                            <td class="column5 text-center">{{ user.dateCreate_user | date('d-m-Y') }}</td>
                            <td class="column6 text-center">{% if user.dateCreate_user != user.dateUpdate_user %} {{ user.dateUpdate_user | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                            <td class="column7 text-center">{% if user.role_user == 1 %} {{ "Admin" }} {% else %} {{ "Member" }} {% endif %}</td>
                            <td class="column8 text-center">{% if user.isActiveUser_user == 1 and user.isActiveAdmin_user == 1 %} {{ "Actif" }} {% else %} {{ "Inactif" }} {% endif %}</td>
                            <td class="column9 columnEnd text-center"><a class="linkManagement" href="{{ constant('local') }}adminManagement/adminModifyUser/{{ user.id_user }}">Modifier</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for user in users %}
            <div class="container tabMobile col-12 col-md-10 mb-3">
                <div class="row justify-content-center">
                    <div class="container col-12 col-md-8 offset-md-2">
                        <table class="panel">
                            <tr class="trCompte">
                                <td class="text-center">Login :</td>
                                <td class="text-center">{{ user.login_user }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Prénom:</td>
                                <td class="text-center">{{ user.firstname_user }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Nom:</td>
                                <td class="text-center">{{ user.lastname_user }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Email:</td>
                                <td class="text-center">{{ user.email_user }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Inscription</td>
                                <td class="text-center">{{ user.dateCreate_user | date('d-m-Y') }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Mise à jour</td>
                                <td class="text-center">{% if user.dateCreate_user != user.dateUpdate_user %} {{ user.dateUpdate_user | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Rôle</td>
                                <td class="text-center">{% if user.role_user == 1 %} {{ "Admin" }} {% else %} {{ "Member" }} {% endif %}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Statut</td>
                                <td class="text-center">{% if user.isActiveUser_user == 1 and user.isActiveAdmin_user == 1 %} {{ "Actif" }} {% else %} {{ "Inactif" }} {% endif %}</td>
                            </tr>
                            <tr class="trCompte">
                                <td class="text-center">Modifier</td>
                                <td class="text-center"><a class="linkManagement" href="{{ constant('local') }}adminManagement/adminModifyUser/{{ user.id_user }}">Modifier</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="container col-12 my-2">
                <div class="row">   
                    <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                        <ul class="pagination">
                            <div class="col-md-3 offset-md-2">  
                                <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllMembers/{{ numPage - 1 }}" class="page-link"><<</a>
                                </li>
                            </div>
                            <div class="col-md-2"> 
                                {% for page in 1..pages %}
                                    <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}">
                                        <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllMembers/{{ numPage }}" class="font-weight-bold link-page">{{ page }}</a>
                                    </li>
                                {% endfor %}
                            </div>
                            <div class="col-md-3"> 
                                <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllMembers/{{ numPage + 1 }}" class="page-link">>></a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
