{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<section class="container col-12 col-md-10 mb-5" id="adminComments">
    <div class="limiter">
        <div class="container-table100">
            <div class="container col-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <a class="font-weight-bold retour-listComments" href="{{ constant('local') }}adminManagement">< Retour au panneau d'administration</a>
                    </div>
                </div>
            </div>
            <div class="container col-12 tabLargeScreen pb-3">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Article</th>
                            <th class="column3">Auteur</th>
                            <th class="column4">Création</th>
                            <th class="column5">Mise à jour</th>
                            <th class="column6">Statut</th>
                            <th class="column7">Visualiser</th>
                            <th class="column8 columnEnd">Modifier statut</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td class="column1">{{ comment.title_art }}...</td>
                            <td class="column3">{{ comment.autor_com }}</td>
                            <td class="column4">{{ comment.date_com | date('d-m-Y') }}</td>
                            <td class="column5">{% if comment.date_com != comment.dateUpdate_com %} {{ comment.dateUpdate_com | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                            <td class="column6 {% if comment.statut_com == NULL %} {{ "statutEnCours" }} {% endif %}">{% if comment.statut_com == 1 %} {{ "Validé" }} {% elseif comment.statut_com == NULL %} {{ "En cours" }} {% else %} {{ "Refusé" }} {% endif %}</td>
                            <td class="column7"><a class="linkManagement" href="{{ constant('local') }}adminManagement/articleListComments/{{ comment.id_art }}/1/{{ comment.id_com }}">Afficher</a></td>
                            <td class="column8 columnEnd"><a class="linkManagement" href="{{ constant('local') }}adminManagement/initialiseComment/{{ comment.id_com }}">Réinitialiser</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for comment in comments %}
                <div class="container tabMobile col-12 col-md-10 mb-3">
                    <div class="row justify-content-center">
                        <div class="container col-12 col-md-8 offset-md-2">
                            <table class="panel">
                                <tr class="trCompte">
                                    <td>Article :</td>
                                    <td>{{ comment.title_art }}...</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Auteur:</td>
                                    <td>{{ comment.autor_com }}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Création</td>
                                    <td>{{ article.date_com | date('d-m-Y') }}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Mise à jour</td>
                                    <td>{% if comment.date_com != comment.dateUpdate_com %} {{ comment.dateUpdate_com | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Statut</td>
                                    <td {% if comment.statut_com == NULL %} {{ "class='statutEnCours'" }} {% endif %}>{% if comment.statut_com == 1 %} {{ "Validé" }} {% elseif comment.statut_com == NULL %} {{ "En cours" }} {% else %} {{ "Refusé" }} {% endif %}</td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Visualiser</td>
                                    <td><a class="linkManagement" href="{{ constant('local') }}adminManagement/articleListComments/{{ comment.id_art }}/1/{{ comment.id_com }}">Afficher</a></td>
                                </tr>
                                <tr class="trCompte">
                                    <td>Modifier statut</td>
                                    <td><a class="linkManagement" href="{{ constant('local') }}adminManagement/initialiseComment/{{ comment.id_com }}">Réinitialiser</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container col-12 my-2">
                <div class="row">   
                    <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                        <ul class="pagination">
                            <div class="col-md-3 offset-md-2">  
                                <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllComments/{{ numPage - 1 }}" class="page-link"><<</a>
                                </li>
                            </div>
                            <div class="col-md-2"> 
                                {% for page in 1..pages %}
                                    <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}">
                                        <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllComments/{{ numPage }}" class="font-weight-bold link-page">{{ page }}</a>
                                    </li>
                                {% endfor %}
                            </div>
                            <div class="col-md-3"> 
                                <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}">
                                    <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllComments/{{ numPage + 1 }}" class="page-link">>></a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}