{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<section class="container col-10 mb-5" id="compteUser">
    <div class="container col-12">
        <div class="row">
            <div class="col-12 mt-3 mb-4 containerDashed text-center">
                <h3 class="font-weight-bold">
                    <span class="ion-minus"></span>COMPTE<span class="ion-minus"></span>
                </h3>
            </div>
        </div>
    </div>
    <div class="container col-12 col-md-10">
        <div class="row justify-content-center">
            <div class="container col-12 col-md-8 offset-md-2">
                <h5 class="pb-3">Informations du compte</h5>
                <table class="panel">
                    <tr class="trCompte">
                        <td class="text-center">Pseudo :</td>
                        <td class="text-center">{{ session.login }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Prénom :</td>
                        <td class="text-center">{{ session.firstname }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Nom :</td>
                        <td class="text-center">{{ session.lastname }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Adresse email :</td>
                        <td class="text-center">{{ session.email }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Date de création du compte : </td>
                        <td class="text-center">{{ session.dateRegister | date('d-m-Y') }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Dernière mise à jour du compte : </td>
                        <td class="text-center">{{ session.dateUpdate | date('d-m-Y') }}</td>
                    </tr>
                    <tr class="trCompte">
                        <td class="text-center">Rôle : </td>
                        <td class="text-center">{% if session.role == 1 %} {{ "Admin" }} {% else %} {{ "Member" }} {% endif %}</td>
                    </tr>
                </table>
                
            </div>
            <div class="container btnCenterMobile col-12 col-md-8 offset-md-2 pt-3 pb-5">
                <a class="btn btn-default font-weight-bold btn-userInfos" href="{{ constant('local') }}userCompte/userFormModifCompte">Modifier vos informations</a>
            </div>
        </div>
    </div>
    <div class="container col-12 col-md-10">
        <div class="row justify-content-center">
            <div class="container  col-12 col-md-8 offset-md-2 pb-5">
                <h5 class="pb-3">Commentaires</h5>
                <form method="post" action="{{ constant('local') }}userCompte/userListComment/1">
                    <div class="form-group btnCenterMobile">                 
                        <button type="submit" class="btn btn-default font-weight-bold btn-userInfos" name="formListComments">Afficher vos commentaires</button>                
                    </div>
                </form>
            </div>  
        </div>
    </div>
    <div class="container col-12 col-md-10">
        <div class="row justify-content-center">
            <div class="container col-12 col-md-8 offset-md-2 pb-3">
                <h5>Changement de mot de passe</h5>
            </div>
        </div>
        <div class="row justify-content-center" id="ancreChangerPass">
            <div class="container col-12 col-md-8 offset-md-2 pb-5">
                <form method="post" action="{{ constant('local') }}userCompte/userModifyPassword">
                    <div class="form-group">
                        <label for="oldPassword">Ancien mot de passe</label>
                        <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Saisissez votre ancien mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nouveau mot de passe</label>
                        <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Saisissez votre nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm">Confirmez le nouveau mot de passe</label>
                        <input type="password" name="newPasswordConfirm" class="form-control" id="newPasswordConfirm" placeholder="Confirmez votre nouveau mot de passe">
                    </div>
                    <div class="btnCenterMobile">
                        <button type="submit" name = "formModifyPassword" class="btn font-weight-bold btn-userInfos">Changer</button>
                    </div>
                </form>
                {% if valide is defined %}
                    <br /><p style="color: blue;" class = "font-weight-bold">{{ valide }}</p>
                {% endif %}
                {% if error is defined %}
                    <br /><p class = "font-weight-bold">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if session.isActiveAdmin == 1 %}

        <div class="container col-12 col-md-10">
            <div class="row justify-content-center">
                <div class="container col-12 col-md-8 offset-md-2 pb-3">
                    <h5>Etat du compte:
                        
                    {% if session.isActiveUser == 1 and session.isActiveAdmin == 1 %}
                            <span class="font-weight-bold font-italic">Actif</span></h5>
                    {% else %}
                        <span class="font-weight-bold font-italic mt-2">Inactif</span></h5>
                    {% endif %}

                </div>
            </div>
            <div class="row justify-content-center pb-5">

                {% if session.isActiveUser == 1 and session.isActiveAdmin == 1 %}
                    <form method="post" action="{{ constant('local') }}userCompte/disableCompteUser">
                        <button type="submit" name="disableCompte" class="btn font-weight-bold btn-inactiveUserWarning ml-3">Désactiver</button>
                    </form>
                {% else %}
                        <form method="post" action="{{ constant('local') }}userCompte/activeCompteUser">
                            <button type="submit" name="activeCompte" class="btn ml-5 font-weight-bold btn-userInfos">Activer</button>
                        </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="container col-12 col-md-10">
            <div class="row justify-content-center">
                <div class="container col-12 col-md-8 offset-md-2 pb-3">
                    <h5 class="text-justify">Votre compte a été désactivé par un administrateur, pour y remédier merci de nous contacter.</h5>
                </div>
            </div>
        </div>
    {% endif %}
</section>

{% endblock %}
