{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<div class="container col-10">
    <div class="row">
        <div class="col-10 my-4">
            <a class="font-weight-bold retour-compteUser" href="{{ constant('local') }}userCompte">< Retour à votre compte</a>
        </div>
    </div>
</div>
<section class="container col-10 mb-5" id="userModifCompte">
    <div class="container col-12">
        <div class="row">
            <div class="col-12 mb-4 containerDashed text-center">
                <h4 class="font-weight-bold">
                    <span class="ion-minus"></span>COMMENTAIRES<span class="ion-minus"></span>
                </h4>
            </div>
        </div>
    </div>
    {% for comment in comments %}
        <div class="col-12">
            <div class="container contListComment mb-3">
         
                <div class="row">
                    <p>{{ comment.content_com }} </p>
                </div>
                <div class="row">
                    {% if comment.dateUpdate_com >  comment.date_com %}
                            Mis à jour le  {{ comment.dateUpdate_com | date('d-m-Y') }} {% else %} Créé le {{ comment.date_com | date('d-m-Y') }} 
                    {% endif %}
                    par&nbsp<b>{{ comment.autor_com }}</b>
                    <a class="font-weight-bold displayComment" href="{{ constant('local') }}articles/readArticle/{{ comment.id_art }}/1">Afficher le commentaire</a></p>
                </div>
           
            </div>
        </div>
    {% endfor %}
    <div class="container col-12 my-2">
        <div class="row">   
            <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                <ul class="pagination">
                    <div class="col-md-3 offset-md-2">  
                        <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}">
                            <a class="font-weight-bold paginationLink" href="{{ constant('local') }}userCompte/userListComment/{{ numPage - 1 }}" class="page-link"><<</a>
                        </li>
                    </div>
                    <div class="col-md-2"> 
                        {% for page in 1..pages %}
                            <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}">
                                <a class="font-weight-bold paginationLink" href="{{ constant('local') }}userCompte/userListComment/{{ numPage }}" class="font-weight-bold link-page">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </div>
                    <div class="col-md-3"> 
                        <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}">
                            <a class="font-weight-bold paginationLink" href="{{ constant('local') }}userCompte/userListComment/{{ numPage + 1 }}" class="page-link">>></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

