{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}
    {% if article.0 is defined %}
        <div class="container col-10">
            <div class="row">
                <div class="col-10 my-4">
                    <a class="font-weight-bold retour-listArticle" href="{{ constant('local') }}articles/pageArticles/1">< Retour à la liste d'articles</a>
                </div>
            </div>
            {% if valide is defined %}
                <br /><p class = font-weight-bold>{{ valide }}<p>  
            {% endif %}
        </div>
        <section class="container sectionArticle col-10 mb-5" id="{{ article.0.id_art }}">
         
            <div class="container contArticle col-12">
                <div class="row">
                    <div class="col-12 mt-3 mb-4 containerDashed text-center">
                        <h3 class="font-weight-bold">
                            <span class="ion-minus"></span>{{ article.0.title_art }}<span class="ion-minus"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-3 text-center">
                            <img class="img-art" src="{{ constant('local') }}public/img/upload/{{ article.0.image_art }}" alt="{{ article.0.altImage_art }}">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <p class="text-justify font-weight-bold">{{ article.0.chapo_art }}</p>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <p class="text-justify">{{ article.0.content_art }}</p>
                    </div>
                    <div class="row mb-3" id="listComments">
                        <p class="text-justify textInfo">
                            {% if article.0.dateUpdate_art > article.0.date_art %}
                                Mis à jour le {{ article.0.dateUpdate_art | date('d-m-Y') }} {% else %} Créé le {{ article.0.date_art | date('d-m-Y') }}
                            {% endif %}
                            par <strong>{{ article.0.autor_art }}</strong><br />
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container col-10" id="comment">
            <div class="container">
                <div class="row">
                    <h4>Commentaires</h4>
                </div>
            </div>
            {% for comment in comments %}
                <div class="container mb-4 contComment">
                    <div class="col-12 pt-3">
                        <div class="container">
                            <div class="row">
                                <p class="text-justify">{{ comment.content_com }}</p>
                            </div>
                            <div class="row">
                                <p class="text-justify textInfo">
                                    {% if comment.dateUpdate_com >  comment.date_com %}
                                        Mis à jour le  {{ comment.dateUpdate_com | date('d-m-Y') }} {% else %} Créé le {{comment.date_com | date('d-m-Y') }} 
                                    {% endif %}
                                    par <b>{{ comment.autor_com }}</b>
                                </p>
                            </div> 
                            <div class="row">
                                {% if session is defined and comment.id_user == session.idUser %}                           
                                    <div class="text-center">
                                        <a class="linkDelUpdate" href="{{ constant('local') }}articles/readModifyComment/{{ article.0.id_art }}/{{ numPageComments }}/{{ comment.id_com }}">Modifier</a>        
                                    </div>                              
                                    <div class="text-center ml-3">
                                        <a class="linkDelUpdate" href="{{ constant('local') }}articles/deleteComment/{{ article.0.id_art }}/{{ numPageComments }}/{{ comment.id_com }}">Supprimer</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        {% if pagesComments >= 1 %}
            <row>
                <div class="container col-12 my-2">
                    <div class="row">   
                        <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                            <ul class="pagination">
                                <div class="col-md-3 offset-md-2">  
                                    <li class="page-item {% if numPageComments == 1 %} {{ "disabled" }} {% endif %}">
                                        <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/readArticle/{{ article.0.id_art }}/{{ numPageComments - 1 }}#listComments" class="page-link"><<</a>
                                    </li>
                                </div>
                                <div class="col-md-2"> 
                                    {% for page in 1..pagesComments %}
                                        <li class="page-item {% if numPageComments !=  page %} {{ "disabled" }} {% endif %}">
                                            <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/readArticle/{{ article.0.id_art }}/{{ numPageComments }}#listComments" class="font-weight-bold link-page">{{ page }}</a>
                                        </li>
                                    {% endfor %}
                                </div>
                                <div class="col-md-3"> 
                                    <li class="page-item {% if numPageComments == pagesComments %} {{ "disabled" }} {% endif %}">
                                        <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/readArticle/{{ article.0.id_art }}/{{ numPageComments + 1 }}#listComments" class="page-link">>></a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </row>
        {% endif %}
        {% if session is defined %}
            {% if session.isActiveUser == 1 and session.isActiveAdmin == 1 %}
                <section class="container col-10">
                    <div class="container">
                        <div class="row">
                            <form class="col-12" action="{{ constant('local') }}articles/createComment/{{ article.0.id_art }}/1" method="post">
                                <div class = "text-center">
                                    <button type="submit" name="formCreateComment" class="btn btnComment mb-5">Ajouter un commentaire</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            {% else %}
                <section class="container col-10">
                    <div class="col-12">
                        <h5 class="font-weight-bold text-center mb-3">Votre compte est actuellement désactivé pour plus d'informations rendez-vous dans dans la partie gestion de votre compte.</h5>
                    </div>
                </section>
            {% endif %}
        {% else %}
            <section class="container col-10">
                <div class="col-12">
                    <h5 class="font-weight-bold text-center mb-3">Pour commenter l'article veuillez vous connecter ou vous inscrire sur le site.</h5>
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}
