{% extends 'base.twig' %}
{% block title %}

{% endblock %}

{% block content %}

<div class="fondArticles"></div>
<section class="container col-10" id="listArticle">
    <div class="container col-12">
        <div class="row">
            <div class="col-12 col-10 mt-3 mb-5 containerDashed text-center">
                <h3 class="font-weight-bold">
                    <span class="ion-minus"></span>ARTICLES<span class="ion-minus"></span>
                </h3>
            </div>
        </div>
    </div>
    <div class="container contArticle col-12 py-3">
        <div class="row">

            {% for article in articles %}
            
                <div class="col-12 contArticle col-md-4 pr-5-md5 mb-3">
                    <div class="card-block">
                        <img class="card-img-top rounded-top" src="{{ constant('local') }}public/img/upload/{{ article.image_art }}" alt="{{ article.altImage_art }}">
                        <div class="card-body pt-1 px-2">
                            <div class="cardTitre">
                                <h5 class="card-title font-weight-bold">{{ article.title_art }}</h5>
                                <p class="card-text"><small class="text-muted">
                                    {% if article.dateUpdate_art >  article.date_art %}
                                        Mis à jour le  {{ article.dateUpdate_art | date('d-m-Y') }} {% else %} Créé le {{ article.date_art | date('d-m-Y') }} 
                                    {% endif %}
                                    par <b>{{ article.autor_art }}</b>
                                    </small>
                                </p>
                                <div class="text-center">
                                    <a class="btn btn-art font-weight-bold stretched-link mb-2 mx-3" href="{{ constant('local') }}articles/readArticle/{{ article.id_art }}/1">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="container col-12 my-2">
        <div class="row">   
            <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
                <ul class="pagination">
                    <div class="col-md-3 offset-md-2">  
                        <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}">
                            <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/pageArticles/{{ numPage - 1 }}" class="page-link"><<</a>
                        </li>
                    </div>
                    <div class="col-md-2"> 
                        {% for page in 1..pages %}
                            <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}">
                                <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/pageArticles/{{ page }}" class="font-weight-bold link-page">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </div>
                    <div class="col-md-3"> 
                        <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}">
                            <a class="font-weight-bold paginationLink" href="{{ constant('local') }}articles/pageArticles/{{ numPage + 1 }}" class="page-link">>></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

